<!DOCTYPE html>
<html class="page" lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="cmsmagazine" content="5a7189a28fb3dc68238dbdb44c9ea99c" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <!--  Edge и ряд мобильных браузеров слишком умны. Отключим это.-->
    <meta name="format-detection" content="telephone=no">
    <meta name="format-detection" content="date=no">
    <meta name="format-detection" content="address=no">
    <meta name="format-detection" content="email=no">
    <meta name="google" content="notranslate">
    <title>Trast Oil | Подбор по сфере деятельности</title>
    <meta name="description" content="">
    <link rel="shortcut icon" href="../img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../css/style.css" data-inprogress="">
    <link rel="stylesheet" href="../css/field-selection.css" data-inprogress="">
</head>

<body>
    <header class="header">
        <div class="header__inner">
            <nav class="navigation">
                <a href="index.html" class="logo">
        <img src="../img/logo.svg" alt="Логотип">
      </a>
                <div class="navigation__wrapper">
                    <ul class="navigation__list">
                        <li>
                            <a href="field-selection.html">Подбор по сфере деятельности</a>
                        </li>
                        <li>
                            <a href="node-selection.html">Подбор по узлу</a>
                        </li>
                    </ul>
                    <ul class="header__clock">
                        <li class="header__clock-item">
                            <span class="header__clock-days">пн-пт:</span>
                            <span class="header__clock-time">9:00-18:00</span>
                        </li>
                        <li class="header__clock-item">
                            <span class="header__clock-days">сб-вс:</span>
                            <span class="header__clock-time">10:00-16:00</span>
                        </li>
                    </ul>
                    <div class="header__info-block">
                        <p class="header__wrapper-telephone">
                            <i class="icon-phone"></i>
                            <a href="tel:+74956274444" class="header__telephone">+7 (495) 627 44 44</a>
                        </p>
                        <button type="button" class="header__consultation js-open-modal" data-modal="request">Заказать консультацию</button>
                    </div>
                </div>
            </nav>
        </div>
    </header>




    <main class="page__main">

        <!-- Секция Выберите подходящий узел-->
        <section class="field-selection">
            <div class="field-selection__inner">
                <h2 class="title title--line title--center">Типовые проблемы</h2>
                <form action="#" class="form field-selection__form">
                    <fieldset class="form__fieldset">
                        <legend class="form__legend field-selection__legend">Поиск по отраслям:</legend>
                        <ul class="field-selection__list">
                            <li class="field-selection__item">
                                <input type="radio" id="radio-1" name="branch">
                                <label for="radio-1">Производство электроэнергии</label>
                            </li>
                            <li class="field-selection__item">
                                <input type="radio" id="radio-2" name="branch">
                                <label for="radio-2">Пищевая промышленность</label>
                            </li>
                            <li class="field-selection__item">
                                <input type="radio" id="radio-3" name="branch">
                                <label for="radio-3">Целлюлозно-бумажная</label>
                            </li>
                            <li class="field-selection__item">
                                <input type="radio" id="radio-4" name="branch">
                                <label for="radio-4">Добыча нефти и газа</label>
                            </li>
                            <li class="field-selection__item">
                                <input type="radio" id="radio-5" name="branch">
                                <label for="radio-5">Металлургия</label>
                            </li>
                            <li class="field-selection__item">
                                <input type="radio" id="radio-6" name="branch">
                                <label for="radio-6">Перерабатывающая промышленность</label>
                            </li>
                            <li class="field-selection__item">
                                <input type="radio" id="radio-7" name="branch">
                                <label for="radio-7">Производство</label>
                            </li>
                            <li class="field-selection__item">
                                <input type="radio" id="radio-8" name="branch">
                                <label for="radio-8">Производство</label>
                            </li>
                        </ul>
                    </fieldset>
                </form>
                <ul class="accordeon field-selection__accordeon">
                    <li class="accordeon__item">
                        <div class="accordeon__head node">
                            <div class="node__item">
                                <p class="accordeon__wrapper-icon">
                                    <span class="accordeon__icon"></span>
                                </p>
                                <div class="node__content">
                                    <p class="node__text">Mollis orci lacus vivamus habitasse nam quis. Sit a aliquam morbi, ac litora venenatis per, sit velit nunc, quis accumsan, aliquam interdum velit justo elit phasellus. A diam quis venenatis. </p>
                                </div>
                                <p class="button node__button">
                                    <a href="common-problems.html" class="button__button">Выбрать</a>
                                    <i class="icon-play-button"></i>
                                </p>
                            </div>
                        </div>
                        <div class="accordeon__body">
                            <div class="accordeon__wrapper-body">
                                <div class="accordeon__wrapper-content">
                                    <p class="accordeon__wrapper-img">
                                        <img src="../img/node-selection/node-1.jpg" alt="Фотография узла">
                                    </p>
                                    <p class="accordeon__name-node">Название узла 1</p>
                                </div>
                                <div class="accordeon__wrapper-content">
                                    <p class="accordeon__wrapper-img">
                                        <img src="../img/node-selection/node-2.jpg" alt="Фотография узла">
                                    </p>
                                    <p class="accordeon__name-node">Название узла 2</p>
                                </div>
                                <div class="accordeon__wrapper-content">
                                    <p class="accordeon__wrapper-img">
                                        <img src="../img/node-selection/node-3.jpg" alt="Фотография узла">
                                    </p>
                                    <p class="accordeon__name-node">Название узла 3</p>
                                </div>
                            </div>

                        </div>
                    </li>
                    <li class="accordeon__item">
                        <div class="accordeon__head node">
                            <div class="node__item">
                                <p class="accordeon__wrapper-icon">
                                    <span class="accordeon__icon"></span>
                                </p>
                                <div class="node__content">
                                    <p class="node__text">Mollis orci lacus vivamus habitasse nam quis. Sit a aliquam morbi, ac litora venenatis per, sit velit nunc, quis accumsan, aliquam interdum velit justo elit phasellus. A diam quis venenatis. </p>
                                </div>
                                <p class="button node__button">
                                    <a href="common-problems.html" class="button__button">Выбрать</a>
                                    <i class="icon-play-button"></i>
                                </p>
                            </div>
                        </div>
                        <div class="accordeon__body">
                            <div class="accordeon__wrapper-body">
                                <div class="accordeon__wrapper-content">
                                    <p class="accordeon__wrapper-img">
                                        <img src="../img/node-selection/node-1.jpg" alt="Фотография узла">
                                    </p>
                                    <p class="accordeon__name-node">Название узла 1</p>
                                </div>
                                <div class="accordeon__wrapper-content">
                                    <p class="accordeon__wrapper-img">
                                        <img src="../img/node-selection/node-2.jpg" alt="Фотография узла">
                                    </p>
                                    <p class="accordeon__name-node">Название узла 2</p>
                                </div>
                                <div class="accordeon__wrapper-content">
                                    <p class="accordeon__wrapper-img">
                                        <img src="../img/node-selection/node-3.jpg" alt="Фотография узла">
                                    </p>
                                    <p class="accordeon__name-node">Название узла 3</p>
                                </div>
                            </div>

                        </div>
                    </li>
                    <li class="accordeon__item">
                        <div class="accordeon__head node">
                            <div class="node__item">
                                <p class="accordeon__wrapper-icon">
                                    <span class="accordeon__icon"></span>
                                </p>
                                <div class="node__content">
                                    <p class="node__text">Mollis orci lacus vivamus habitasse nam quis. Sit a aliquam morbi, ac litora venenatis per, sit velit nunc, quis accumsan, aliquam interdum velit justo elit phasellus. A diam quis venenatis. </p>
                                </div>
                                <p class="button node__button">
                                    <a href="common-problems.html" class="button__button">Выбрать</a>
                                    <i class="icon-play-button"></i>
                                </p>
                            </div>
                        </div>
                        <div class="accordeon__body">
                            <div class="accordeon__wrapper-body">
                                <div class="accordeon__wrapper-content">
                                    <p class="accordeon__wrapper-img">
                                        <img src="../img/node-selection/node-1.jpg" alt="Фотография узла">
                                    </p>
                                    <p class="accordeon__name-node">Название узла 1</p>
                                </div>
                                <div class="accordeon__wrapper-content">
                                    <p class="accordeon__wrapper-img">
                                        <img src="../img/node-selection/node-2.jpg" alt="Фотография узла">
                                    </p>
                                    <p class="accordeon__name-node">Название узла 2</p>
                                </div>
                                <div class="accordeon__wrapper-content">
                                    <p class="accordeon__wrapper-img">
                                        <img src="../img/node-selection/node-3.jpg" alt="Фотография узла">
                                    </p>
                                    <p class="accordeon__name-node">Название узла 3</p>
                                </div>
                            </div>

                        </div>
                    </li>
                    <li class="accordeon__item">
                        <div class="accordeon__head node">
                            <div class="node__item">
                                <p class="accordeon__wrapper-icon">
                                    <span class="accordeon__icon"></span>
                                </p>
                                <div class="node__content">
                                    <p class="node__text">Mollis orci lacus vivamus habitasse nam quis. Sit a aliquam morbi, ac litora venenatis per, sit velit nunc, quis accumsan, aliquam interdum velit justo elit phasellus. A diam quis venenatis. </p>
                                </div>
                                <p class="button node__button">
                                    <a href="common-problems.html" class="button__button">Выбрать</a>
                                    <i class="icon-play-button"></i>
                                </p>
                            </div>
                        </div>
                        <div class="accordeon__body">
                            <div class="accordeon__wrapper-body">
                                <div class="accordeon__wrapper-content">
                                    <p class="accordeon__wrapper-img">
                                        <img src="../img/node-selection/node-1.jpg" alt="Фотография узла">
                                    </p>
                                    <p class="accordeon__name-node">Название узла 1</p>
                                </div>
                                <div class="accordeon__wrapper-content">
                                    <p class="accordeon__wrapper-img">
                                        <img src="../img/node-selection/node-2.jpg" alt="Фотография узла">
                                    </p>
                                    <p class="accordeon__name-node">Название узла 2</p>
                                </div>
                                <div class="accordeon__wrapper-content">
                                    <p class="accordeon__wrapper-img">
                                        <img src="../img/node-selection/node-3.jpg" alt="Фотография узла">
                                    </p>
                                    <p class="accordeon__name-node">Название узла 3</p>
                                </div>
                            </div>

                        </div>
                    </li>
                    <li class="accordeon__item">
                        <div class="accordeon__head node">
                            <div class="node__item">
                                <p class="accordeon__wrapper-icon">
                                    <span class="accordeon__icon"></span>
                                </p>
                                <div class="node__content">
                                    <p class="node__text">Mollis orci lacus vivamus habitasse nam quis. Sit a aliquam morbi, ac litora venenatis per, sit velit nunc, quis accumsan, aliquam interdum velit justo elit phasellus. A diam quis venenatis. </p>
                                </div>
                                <p class="button node__button">
                                    <a href="common-problems.html" class="button__button">Выбрать</a>
                                    <i class="icon-play-button"></i>
                                </p>
                            </div>
                        </div>
                        <div class="accordeon__body">
                            <div class="accordeon__wrapper-body">
                                <div class="accordeon__wrapper-content">
                                    <p class="accordeon__wrapper-img">
                                        <img src="../img/node-selection/node-1.jpg" alt="Фотография узла">
                                    </p>
                                    <p class="accordeon__name-node">Название узла 1</p>
                                </div>
                                <div class="accordeon__wrapper-content">
                                    <p class="accordeon__wrapper-img">
                                        <img src="../img/node-selection/node-2.jpg" alt="Фотография узла">
                                    </p>
                                    <p class="accordeon__name-node">Название узла 2</p>
                                </div>
                                <div class="accordeon__wrapper-content">
                                    <p class="accordeon__wrapper-img">
                                        <img src="../img/node-selection/node-3.jpg" alt="Фотография узла">
                                    </p>
                                    <p class="accordeon__name-node">Название узла 3</p>
                                </div>
                            </div>

                        </div>
                    </li>
                    <li class="accordeon__item">
                        <div class="accordeon__head node">
                            <div class="node__item">
                                <p class="accordeon__wrapper-icon">
                                    <span class="accordeon__icon"></span>
                                </p>
                                <div class="node__content">
                                    <p class="node__text">Mollis orci lacus vivamus habitasse nam quis. Sit a aliquam morbi, ac litora venenatis per, sit velit nunc, quis accumsan, aliquam interdum velit justo elit phasellus. A diam quis venenatis. </p>
                                </div>
                                <p class="button node__button">
                                    <a href="common-problems.html" class="button__button">Выбрать</a>
                                    <i class="icon-play-button"></i>
                                </p>
                            </div>
                        </div>
                        <div class="accordeon__body">
                            <div class="accordeon__wrapper-body">
                                <div class="accordeon__wrapper-content">
                                    <p class="accordeon__wrapper-img">
                                        <img src="../img/node-selection/node-1.jpg" alt="Фотография узла">
                                    </p>
                                    <p class="accordeon__name-node">Название узла 1</p>
                                </div>
                                <div class="accordeon__wrapper-content">
                                    <p class="accordeon__wrapper-img">
                                        <img src="../img/node-selection/node-2.jpg" alt="Фотография узла">
                                    </p>
                                    <p class="accordeon__name-node">Название узла 2</p>
                                </div>
                                <div class="accordeon__wrapper-content">
                                    <p class="accordeon__wrapper-img">
                                        <img src="../img/node-selection/node-3.jpg" alt="Фотография узла">
                                    </p>
                                    <p class="accordeon__name-node">Название узла 3</p>
                                </div>
                            </div>

                        </div>
                    </li>
                </ul>
            </div>
        </section>

        <a href="#header" class="js-anchor button-up">
    <span>
      <i class="icon-up-arrow"></i>
    </span>
  </a>

    </main>

    <footer class="footer">
        <div class="footer__inner">
            <ul class="footer__list">
                <li class="footer__item">
                    <p class="header__wrapper-telephone">
                        <i class="icon-phone"></i>
                        <a href="tel:+74956274444" class="header__telephone">+7 (495) 627 44 44</a>
                    </p>
                </li>
                <li class="footer__item">
                    <p class="header__wrapper-telephone">
                        <i class="icon-email"></i>
                        <a href="mailto:hotline@lukoil.com" class="header__telephone">hotline@lukoil.com</a>
                    </p>
                </li>
                <li class="footer__item">
                    <div class="header__wrapper-telephone">
                        <i class="icon-maps"></i>
                        <a href="https://goo.gl/maps/GfGb6VfLUNY9V7rs6" class="header__telephone">101 000, Российская Федерация,  г. Москва, Сретенский бульвар, 11 </a>
                    </div>
                </li>
            </ul>
            <ul class="social footer__social">
                <li class="social__item">
                    <a href="/" class="social__link">
          <span class="social__name">telegram</span>
          <i class="icon-telegram"></i>
        </a>
                </li>
                <li class="social__item">
                    <a href="/" class="social__link">
          <span class="social__name">whatsapp</span>
          <i class="icon-whatsapp-logo-variant"></i>
        </a>
                </li>
                <li class="social__item">
                    <a href="/" class="social__link">
          <span class="social__name">skype</span>
          <i class=" icon-skype"></i>
        </a>
                </li>
            </ul>
        </div>
    </footer>

    <!-- Секция Модальные окна -->
    <section class="modal">
        <!-- Модальное окно РЕГЕСТРИЦИЯ -->
        <div class="popup request" data-modal="request">
            <button class="modals__close close" type="button">
      <span>Закрыть модальное окно</span>
    </button>
            <div class="modal__dialog">
                <div class="modal__header">
                    <h3 class="title title--line title--center modal__title">Оформить заявку</h3>
                </div>
                <div class="modal__content">
                    <p class="request__description">Оставьте свои контактные данные и мы свяжемся с вами!</p>
                    <form action="#" class="form form--small request__form">
                        <div class="form__wrapper">
                            <label class="label">
              <span class="label__name">Имя</span>
              <input type="text" class="input input--white" placeholder="Ваше имя">
            </label>
                            <label class="label">
              <span class="label__name">Телефон</span>
              <input type="tel" class="input input--white" placeholder="Телефон">
            </label>
                            <label class="label">
              <span class="label__name">E-mail</span>
              <input type="email" class="input input--white" placeholder="E-mail">
            </label>
                        </div>
                        <p class="button-double request__button">
                            <button class="button-double__button js-open-modal" type="submit" data-modal="thanks">Отправить</button>
                            <i class="icon-play-button"></i>
                        </p>
                    </form>
                </div>
            </div>
        </div>

        <!-- Модальное окно Спасибо -->
        <div class="popup thanks" data-modal="thanks">
            <button class="modals__close close" type="button">
      <span>Закрыть модальное окно</span>
    </button>
            <div class="modal__dialog">
                <div class="modal__content">
                    <h3 class="title title--line title--center modal__title">Спасибо за заявку</h3>
                    <p>В ближайшее время с Вами свяжется наш менеджер!</p>
                </div>
            </div>
        </div>

        <!-- Подложка под модальным окном -->
        <div class="modal__overlay modal__overlay--opened js-overlay-modal"></div>
    </section>


    <script src="../js/jquery.min.js"></script>
    <script src="../js/jcf.min.js"></script>
    <script src="../js/jcf.radio.min.js"></script>
    <script src="../js/script.min.js"></script>
    <script src="../js/field-selection.min.js"></script>

</body>

</html>