<!DOCTYPE html>
<html class="page" lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="cmsmagazine" content="5a7189a28fb3dc68238dbdb44c9ea99c" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <!--  Edge и ряд мобильных браузеров слишком умны. Отключим это.-->
    <meta name="format-detection" content="telephone=no">
    <meta name="format-detection" content="date=no">
    <meta name="format-detection" content="address=no">
    <meta name="format-detection" content="email=no">
    <meta name="google" content="notranslate">
    <title>Trast Oil</title>
    <meta name="description" content="">
    <link rel="shortcut icon" href="../img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../css/style.css" data-inprogress="">
    <link rel="stylesheet" href="../css/home.css" data-inprogress="">
</head>

<body>
    <header class="header">
        <div class="header__inner">
            <nav class="navigation">
                <a href="index.html" class="logo">
        <img src="../img/logo.svg" alt="Логотип">
      </a>
                <div class="navigation__wrapper">
                    <ul class="navigation__list">
                        <li>
                            <a href="field-selection.html">Подбор по сфере деятельности</a>
                        </li>
                        <li>
                            <a href="node-selection.html">Подбор по узлу</a>
                        </li>
                    </ul>
                    <ul class="header__clock">
                        <li class="header__clock-item">
                            <span class="header__clock-days">пн-пт:</span>
                            <span class="header__clock-time">9:00-18:00</span>
                        </li>
                        <li class="header__clock-item">
                            <span class="header__clock-days">сб-вс:</span>
                            <span class="header__clock-time">10:00-16:00</span>
                        </li>
                    </ul>
                    <div class="header__info-block">
                        <p class="header__wrapper-telephone">
                            <i class="icon-phone"></i>
                            <a href="tel:+74956274444" class="header__telephone">+7 (495) 627 44 44</a>
                        </p>
                        <button type="button" class="header__consultation js-open-modal" data-modal="request">Заказать консультацию</button>
                    </div>
                </div>
            </nav>
        </div>
    </header>



    <!-- Секция Баннер-->
    <section class="main-banner">
        <div class="main-banner__inner">
            <div class="main-banner__carousel-wrapper">
                <div class="main-banner__dots main-banner__dots--wrapper" role="tablist"></div>
                <div class="main-banner__carousel-container">
                    <ul class="main-banner__carousel">
                        <li class="main-banner__item">
                            <div class="main-banner__content" style="background-image: url('../img/home/banner-img-1.jpg');">
                                <div class="main-banner__content-wrapper">
                                    <span class="main-banner__text">lorem ipsum</span>
                                    <p class="main-banner__decsription">Augue purus sodales</p>
                                    <p class="button-double main-banner__button">
                                        <button class="button-double__button js-open-modal" type="button" data-modal="request">Заявка на поставку</button>
                                        <i class="icon-play-button"></i>
                                    </p>
                                    <img src="../img/home/bottle.png" alt="" class="main-banner__img-bottle">
                                </div>
                            </div>
                        </li>
                        <li class="main-banner__item">
                            <div class="main-banner__content" style="background-image: url('../img/home/banner-1.jpg');">
                                <div class="main-banner__content-wrapper">
                                    <span class="main-banner__text">lorem ipsum</span>
                                    <p class="main-banner__decsription">Augue purus sodales</p>
                                    <p class="button-double main-banner__button">
                                        <button class="button-double__button js-open-modal" type="button" data-modal="request">Заявка на поставку</button>
                                        <i class="icon-play-button"></i>
                                    </p>
                                    <img src="../img/home/bottle.png" alt="" class="main-banner__img-bottle">
                                </div>
                            </div>
                        </li>
                        <li class="main-banner__item">
                            <div class="main-banner__content" style="background-image: url('../img/home/banner-img-1.jpg');">
                                <div class="main-banner__content-wrapper">
                                    <span class="main-banner__text">lorem ipsum</span>
                                    <p class="main-banner__decsription">Augue purus sodales</p>
                                    <p class="button-double main-banner__button">
                                        <button class="button-double__button js-open-modal" type="button" data-modal="request">Заявка на поставку</button>
                                        <i class="icon-play-button"></i>
                                    </p>
                                    <img src="../img/home/bottle.png" alt="" class="main-banner__img-bottle">
                                </div>
                            </div>
                        </li>
                        <li class="main-banner__item">
                            <div class="main-banner__content" style="background-image: url('../img/home/banner-1.jpg');">
                                <div class="main-banner__content-wrapper">
                                    <span class="main-banner__text">lorem ipsum</span>
                                    <p class="main-banner__decsription">Augue purus sodales</p>
                                    <p class="button-double main-banner__button">
                                        <button class="button-double__button js-open-modal" type="button" data-modal="request">Заявка на поставку</button>
                                        <i class="icon-play-button"></i>
                                    </p>
                                    <img src="../img/home/bottle.png" alt="" class="main-banner__img-bottle">
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <!-- Секция О нас -->
    <section class="about-us">
        <div class="about-us__inner">
            <p class="about-us__wrapper-img">
                <img src="../img/about-us/about-us-2.png" alt="Фотография" class="about-us__img">
                <img src="../img/about-us/about-us-1.png" alt="Фотография" class="about-us__img">
            </p>
            <div class="content-box about-us__content-box">
                <h2 class="title title--line content-box__title">Стабильное развитие на протяжении 28 лет</h2>
                <p>ЛУКОЙЛ — одна из крупнейших публичных вертикально интегрированных нефтегазовых компаний в мире, на долю которой приходится более 2% мировой добычи нефти и около 1% доказанных запасов углеводородов.</p>
                <p>Ежедневно продукцию Компании, энергию и тепло покупают миллионы людей более чем в 100 странах мира, улучшая качество своей жизни. Более 100 тысяч человек объединяют свои усилия и таланты, чтобы обеспечить эффективное развитие компании
                    и ее передовые позиции на рынке.</p>
            </div>

        </div>
    </section>

    <!-- Секция Преимущества -->
    <section class="advantages">
        <div class="advantages__inner">
            <h2 class="advantages__title">Преймущества</h2>
            <ul class="advantages__list">
                <li class="advantages__item">
                    <p class="advantages__value">30<span>+</span></p>
                    <p class="advantages__field">стран мира</p>
                </li>
                <li class="advantages__item">
                    <p class="advantages__value">60<span>+</span></p>
                    <p class="advantages__field">регионов РФ</p>
                </li>
                <li class="advantages__item">
                    <p class="advantages__value">1<span>%</span></p>
                    <p class="advantages__field">мировых доказанных запасов нефти</p>
                </li>
                <li class="advantages__item">
                    <p class="advantages__value">2<span>%</span></p>
                    <p class="advantages__field">мировой добычи нефти</p>
                </li>
            </ul>
        </div>
    </section>

    <!-- Секция Отзывы -->
    <section class="reviews">
        <div class="reviews__inner">
            <h2 class="reviews__title">Отзывы</h2>
            <ul class="reviews__carousel">
                <li class="reviews__item">
                    <div class="reviews__wrapper-navigation">
                        <button type="button" class="button-arrow button-arrow--left reviews__arrow reviews__arrow--left"><i
                  class="icon-right-open"></i></button>
                        <p class="reviews__wrapper-img">
                            <img src="../img/home/reviews-img-1.jpg" alt="Фотография клиента" class="reviews__img">
                        </p>
                        <button type="button" class="button-arrow reviews__arrow reviews__arrow--right"><i
                  class="icon-right-open"></i>
          </button>
                    </div>
                    <h3 class="reviews__name-company">Название компании</h3>
                    <p class="reviews__name-client">Иванов Иван Николаевич</p>
                    <div class="reviews__wrapper-text">
                        <p class="reviews__text">Mollis orci lacus vivamus habitasse nam quis. Sit a aliquam morbi, ac litora venenatis per, sit velit nunc, quis accumsan, aliquam interdum velit justo elit phasellus. A diam quis venenatis. Nulla placerat suspendisse vestibulum
                            eleifend viverra. Odio elementum, tortor lectus eu turpis venenatis, sodales scelerisque quis, nec potenti consectetuer lorem, nec et pede. </p>
                    </div>
                </li>
                <li class="reviews__item">
                    <div class="reviews__wrapper-navigation">
                        <button type="button" class="button-arrow button-arrow--left reviews__arrow reviews__arrow--left"><i
                  class="icon-right-open"></i></button>
                        <p class="reviews__wrapper-img">
                            <img src="../img/home/reviews-img-1.jpg" alt="Фотография клиента" class="reviews__img">
                        </p>
                        <button type="button" class="button-arrow reviews__arrow reviews__arrow--right"><i
                  class="icon-right-open"></i>
          </button>
                    </div>
                    <h3 class="reviews__name-company">Название компании</h3>
                    <p class="reviews__name-client">Иванов Дмитрий Николаевич</p>
                    <div class="reviews__wrapper-text">
                        <p class="reviews__text">Mollis orci lacus vivamus habitasse nam quis. Sit a aliquam morbi, ac litora venenatis per, sit velit nunc, quis accumsan, aliquam interdum velit justo elit phasellus. A diam quis venenatis. Nulla placerat suspendisse vestibulum
                            eleifend viverra. Odio elementum, tortor lectus eu turpis venenatis, sodales scelerisque quis, nec potenti consectetuer lorem, nec et pede. </p>
                    </div>
                </li>
            </ul>
        </div>
    </section>

    <!-- Секция Производство -->
    <section class="production">
        <div class="production__inner">
            <div class="production__row">
                <div class="content-box about-us__content-box">
                    <h2 class="title title--line content-box__title">Производство</h2>
                    <p>Lorem ipsum dolor sit amet, nibh sed. Risus eu, diam est in venenatis erat magnis, integer dolor mauris sed vestibulum amet, sem sapien pede euismod. Orci sit vel nisl ultrices dolor, ullam libero voluptatum et pede, ultrices at elementum
                        sociosqu magna scelerisque, sed dapibus sed orci, felis lacus velit deserunt quis. </p>
                    <p>Nulla lacus ligula pede nam ultricies, sed pellentesque, odio vehicula bibendum, porta quisque pellentesque eu ac. Risus nunc sed id, volutpat fermentum. Proin neque lacinia, augue etiam aliquam et cras orci nibh, at pede integer vel
                        sed egestas volutpat, non porttitor metus non et condimentum in, tempus non eleifend et. </p>
                </div>
                <img src="../img/home/production-1.jpg" alt="Фотография" class="production__img-1">
            </div>
            <div class="production__row">
                <img src="../img/home/production-2.jpg" alt="Фотография" class="production__img-2">
                <div class="content-box about-us__content-box">
                    <p>Turpis eget, repellendus velit quam. Egestas facilisis, nunc mauris, neque ante. In eu. Consequuntur et, varius tristique, porttitor nec. Ligula quis pellentesque, suspendisse dolor, a orci. Accumsan nunc, et sed mattis.
                    </p>
                    <p>Ac et orci, ac id. Amet aliquam, vitae hac libero. Rhoncus ut amet, nibh amet varius. Libero et, id ut quis. Proin varius, esse quam elit. Vel sem, nonummy fermentum, vestibulum a mi. Ante semper pulvinar, facilis amet, pretium suspendisse.
                        Augue at, adipiscing pellentesque lacus. Vehicula magna sit. Non per fringilla.</p>
                    <p>Nulla lacus ligula pede nam ultricies, sed pellentesque, odio vehicula bibendum, porta quisque pellentesque eu ac. Risus nunc sed id, volutpat fermentum. Proin neque lacinia, augue etiam aliquam et cras orci nibh, at pede integer vel
                        sed egestas volutpat, non porttitor metus non et condimentum in, tempus non eleifend et. </p>
                    <p>Vel sem, nonummy fermentum, vestibulum a mi. Ante semper pulvinar, facilis amet, pretium suspendisse. Augue at, adipiscing pellentesque lacus. Vehicula magna sit. Non per fringilla</p>
                </div>
            </div>
        </div>
    </section>

    <!-- Секция Сертификаты компании -->
    <section class="certificates">
        <div class="certificates__inner">
            <h2 class="title title--line">Сертификаты компании</h2>
            <ul class="certificates__carousel">
                <li class="certificates__item">
                    <img src="../img/home/certificates-1.png" alt="фотография сертификата">
                </li>
                <li class="certificates__item">
                    <img src="../img/home/certificates-1.png" alt="фотография сертификата">
                </li>
                <li class="certificates__item">
                    <img src="../img/home/certificates-1.png" alt="фотография сертификата">
                </li>
                <li class="certificates__item">
                    <img src="../img/home/certificates-1.png" alt="фотография сертификата">
                </li>
                <li class="certificates__item">
                    <img src="../img/home/certificates-1.png" alt="фотография сертификата">
                </li>
                <li class="certificates__item">
                    <img src="../img/home/certificates-1.png" alt="фотография сертификата">
                </li>
            </ul>
        </div>
    </section>

    <!-- Секция feedback -->
    <section class="feedback">
        <div class="feedback__inner">
            <h2 class="title title--line title--white feedback__title">Мы решим вашу проблему</h2>
            <p class="feedback__subtitle">Оставьте свои контактные данные и мы свяжемся с вами!</p>
            <form action="#" class="form feedback__form">
                <ul class="form__list feedback__list">
                    <li class="form__item feedback__item">
                        <label class="label">
            <span class="label__name">Имя</span>
            <input type="text" class="input" placeholder="Ваше имя">
          </label>
                    </li>
                    <li class="form__item feedback__item">
                        <label class="label">
            <span class="label__name">E-mail</span>
            <input type="email" class="input" placeholder="E-mail">
          </label>
                    </li>
                    <li class="form__item feedback__item">
                        <label class="label">
            <span class="label__name">Телефон</span>
            <input type="tel" class="input" placeholder="Телефон">
          </label>
                    </li>
                </ul>
                <p class="button-double feedback__button-double">
                    <button class="button-double__button js-open-modal" type="submit" data-modal="thanks">Отправить</button>
                    <i class="icon-play-button"></i>
                </p>
            </form>
        </div>
    </section>

    <!-- Секция Модальные окна -->
    <section class="modal">
        <!-- Модальное окно РЕГЕСТРИЦИЯ -->
        <div class="popup request" data-modal="request">
            <button class="modals__close close" type="button">
      <span>Закрыть модальное окно</span>
    </button>
            <div class="modal__dialog">
                <div class="modal__header">
                    <h3 class="title title--line title--center modal__title">Оформить заявку</h3>
                </div>
                <div class="modal__content">
                    <p class="request__description">Оставьте свои контактные данные и мы свяжемся с вами!</p>
                    <form action="#" class="form form--small request__form">
                        <div class="form__wrapper">
                            <label class="label">
              <span class="label__name">Имя</span>
              <input type="text" class="input input--white" placeholder="Ваше имя">
            </label>
                            <label class="label">
              <span class="label__name">Телефон</span>
              <input type="tel" class="input input--white" placeholder="Телефон">
            </label>
                            <label class="label">
              <span class="label__name">E-mail</span>
              <input type="email" class="input input--white" placeholder="E-mail">
            </label>
                        </div>
                        <p class="button-double request__button">
                            <button class="button-double__button js-open-modal" type="submit" data-modal="thanks">Отправить</button>
                            <i class="icon-play-button"></i>
                        </p>
                    </form>
                </div>
            </div>
        </div>

        <!-- Модальное окно Спасибо -->
        <div class="popup thanks" data-modal="thanks">
            <button class="modals__close close" type="button">
      <span>Закрыть модальное окно</span>
    </button>
            <div class="modal__dialog">
                <div class="modal__content">
                    <h3 class="title title--line title--center modal__title">Спасибо за заявку</h3>
                    <p>В ближайшее время с Вами свяжется наш менеджер!</p>
                </div>
            </div>
        </div>

        <!-- Подложка под модальным окном -->
        <div class="modal__overlay modal__overlay--opened js-overlay-modal"></div>
    </section>

    <footer class="footer">
        <div class="footer__inner">
            <ul class="footer__list">
                <li class="footer__item">
                    <p class="header__wrapper-telephone">
                        <i class="icon-phone"></i>
                        <a href="tel:+74956274444" class="header__telephone">+7 (495) 627 44 44</a>
                    </p>
                </li>
                <li class="footer__item">
                    <p class="header__wrapper-telephone">
                        <i class="icon-email"></i>
                        <a href="mailto:hotline@lukoil.com" class="header__telephone">hotline@lukoil.com</a>
                    </p>
                </li>
                <li class="footer__item">
                    <div class="header__wrapper-telephone">
                        <i class="icon-maps"></i>
                        <a href="https://goo.gl/maps/GfGb6VfLUNY9V7rs6" class="header__telephone">101 000, Российская Федерация,  г. Москва, Сретенский бульвар, 11 </a>
                    </div>
                </li>
            </ul>
            <ul class="social footer__social">
                <li class="social__item">
                    <a href="/" class="social__link">
          <span class="social__name">telegram</span>
          <i class="icon-telegram"></i>
        </a>
                </li>
                <li class="social__item">
                    <a href="/" class="social__link">
          <span class="social__name">whatsapp</span>
          <i class="icon-whatsapp-logo-variant"></i>
        </a>
                </li>
                <li class="social__item">
                    <a href="/" class="social__link">
          <span class="social__name">skype</span>
          <i class=" icon-skype"></i>
        </a>
                </li>
            </ul>
        </div>
    </footer>


    <script src="../js/jquery.min.js"></script>
    <script src="../js/slick.min.js"></script>
    <script src="../js/script.min.js"></script>
    <script src="../js/home.min.js"></script>

</body>

</html>