<footer class="footer">
  <div class="footer__inner">
    <ul class="footer__list">
      <li class="footer__item">
        <p class="header__wrapper-telephone">
          <i class="icon-phone"></i>
          <a href="tel:+74956274444" class="header__telephone">+7 (495) 627 44 44</a>
        </p>
      </li>
      <li class="footer__item">
        <p class="header__wrapper-telephone">
          <i class="icon-email"></i>
          <a href="mailto:hotline@lukoil.com" class="header__telephone">hotline@lukoil.com</a>
        </p>
      </li>
      <li class="footer__item">
        <div class="header__wrapper-telephone">
          <i class="icon-maps"></i>
          <a href="https://goo.gl/maps/GfGb6VfLUNY9V7rs6" class="header__telephone">101 000, Российская Федерация,  г. Москва, Сретенский бульвар, 11 </a>
        </div>
      </li>
    </ul>
    <ul class="social footer__social">
      <li class="social__item">
        <a href="/" class="social__link">
          <span class="social__name">telegram</span>
          <i class="icon-telegram"></i>
        </a>
      </li>
      <li class="social__item">
        <a href="/" class="social__link">
          <span class="social__name">whatsapp</span>
          <i class="icon-whatsapp-logo-variant"></i>
        </a>
      </li>
      <li class="social__item">
        <a href="/" class="social__link">
          <span class="social__name">skype</span>
          <i class=" icon-skype"></i>
        </a>
      </li>
    </ul>
  </div>
</footer>